<div class="container custcontainer">
<div class="row">
    <div class="col-12 custcol1">ABOUT</div>
    <div class="row-12 custcol2">Due to the prevailing situation in the country, most students are not able to attend school and carry on with their learning activities. 
        <br><br>
        We provide relevant books, workbooks, short notes and past papers from grade 1 to 13 for those who are unable to continue their activities till the schools re-open. This will be done under supervision and guidance from the Ministry of Education.</div>
    
</div>
<div class="row-12 justify-content-between myrow">
    <img  src="../../../assets/about/eduCast.png">
    <img src="../../../assets/about/MOE.png">
    
    
</div>
</div>