<!-- 
<nav class="navbar navbar-expand-lg custNav">
    <a class="navbar-brand "><img class="logoClass" src="../../assets/header/eduCast.png"/></a>
<div class="row-6"></div>
<div class="row-6 custRow align-items-end">
    <div class="collapse navbar-collapse " id="navbarTogglerDemo01">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive='active' >HOME <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive='active' >ABOUT</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" routerLinkActive='active' >GET STARTED</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' >COMPLAINTS</a>
              </li>
        </ul>
        
      </div>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">LOGIN</button>
    </form>
    </div>
</nav> -->

<nav class="navbar navbar-expand-lg custNav">
    <a class="navbar-brand" href="#"><img class="logoClass" src="../../assets/header/eduCast.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive='active' [routerLink]="['/home']">HOME <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive='active' [routerLink]="['/about']">ABOUT US</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/getstart']">GET STARTED</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/login']">LOGIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' [routerLink]="['/complaints']">COMPLAINTS</a>
              </li>
          </ul>
        <!-- <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Login</button> -->
      </form>
    </div>
  </nav>